*{
    margin: 0;
    padding: 0;
    font-family: "Space Grotesk", sans-serif;
}



.container{
    background-image: url('./img/gry.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 1127px;
}



nav{
    margin-left: 284px;
    display: flex;
    padding-top: 94px;
}


ul{
    display: flex;

}

li{
    margin-right: 39px;
    list-style: none;
}



#home{
    text-decoration: none;
    color: #FFEA23;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.51px;
}



a{
    text-decoration: none;
    color: #FFF;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.51px;
}



.logo{
    margin-left: 130px;

}



.flex-nav{
    display: flex;
    align-items: center;
    margin-left: 227px;
    gap: 17px;
}



.flex-ball{
    display: flex;
    align-items: center;
    gap: 7px;
    margin-top: -10px;
}


.available-now{
    color: #FFF;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.51px;
}



.reach-out{
    display: flex;
    padding: 10px 19px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 4px;
    border: 1px solid #FFEA23;
    background: #1A222A;
    color:  #FFF;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.51px;
    width: 143px;
    height: 46px;
}


.button-flex{
    display: flex;
}

.buton-i{
    width: 22px;
    height: 22px;
}

.button23{
    margin-top: -10px;
    color: #FFF;
    width: 143px;
    height: 46px;
    display: inline-flex;
    padding: 12px 15px;
    gap: 10px;
    border-radius: 4px;
    border: 1px solid #FFEA23;
    background: #1A222A;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: left;
    letter-spacing: -0.51px;
}


.button-flex{
    display: flex;
}


.sdc{
    color: #F0F2F4;
    font-size: 140px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 168px */
    margin-left: 263px;
    margin-top: 180px;
}


.flex-h5{
    margin-left: 263px;
    display: flex;
    align-items: center;
    gap: 12px;
    margin-top: -20px;
}


.pro{
    color: #F0F2F4;
    font-size: 140px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 168px */
}



.we-wold-class{
    color: #C3CCD5;
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%; /* 41.6px */
    margin-left: 263px;
    margin-top: 21px;   
}



.opi{
    display: flex;
    align-items: center;
    margin-left: 263px;
    margin-top: 57px;
    gap: 20px;
}



.book-a-meeting{
    color: #C3CCD5;
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
    line-height: 110%; /* 28.6px */
}


.hero-section{
    display: flex;

}

.marquee {
    width: 729px; /* Fixed width */
    height: 66px;  /* Fixed height */
    overflow: hidden;
    background-color: #FFC72C;
    position: relative;
    display: flex;  /* Enables flexbox */
    justify-content: center;  /* Centers the content horizontally */
    align-items: center;  /* Centers the content vertically */
    padding: 15px 0;
    margin-left: 69px;
    margin-top: 890px;
}

.marquee-content {
    display: inline-block;
    white-space: nowrap;
    font-size: 26px;
    font-weight: 500;
    color: #000;
    animation: scroll 12s linear infinite;
}

/* Animation */
@keyframes scroll {
    0% {
        transform: translateX(660px);  /* Starts just outside the right boundary */
    }
    100% {
        transform: translateX(-100%);  /* Scrolls fully past the left boundary */
    }
}


.img-seven{
    display: flex;
    gap: 16.28px;
    margin-left: 264px;
    margin-top: 85px;
}


.img18{
    width: 78px;
    height: 78px;
    transform: rotate(-11.013deg);
    flex-shrink: 0;
}





.main-section{
    background-image: url('./img/mac-book-pro.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 778px;
}






.flex-main{
    display: flex;
    gap: 44px;
}

.bold{
    margin-left: 264px;
    margin-top: 124px;
    color: #202B37;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%; /* 70.4px */
    letter-spacing: -1.92px;
}



.button-cricle{
    margin-left: 44px;
    margin-top: 124px;
}


.twenting-years-old{
    margin-top: 147px;
    color: #202B37;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%; /* 26.4px */
    letter-spacing: 0.48px;
    text-transform: uppercase;
    margin-left: 51px;
}


.srivers{
    color: #202B37;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%; /* 28.8px */
    margin-left: 51px;
    margin-top: 12px;
}




.hr0{
    width: 349px;
    height: 1px;
    background: #A2B3C6;
    margin-left: 264px;
    margin-top: 119px;
}

.flex-under{
    display: flex;
    gap: 14px;
    margin-left: 264px;
    margin-top: 15px;
}


.very-around{
    color: #647282;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%;
    
}


.happy{
    width: 34px;
    height: 34px;
}




.i-am-spanas{
    color: #202B37;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%; /* 28.8px */
}


.under-section{
    display: flex;
    align-items: center;
}

.hr1{
    margin-left: 75px;
    margin-top: 119px;
}


.hr2{
    margin-left: 75px;
    margin-top: 119px;
}



.flex-under1{
    color: #647282;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%;
    margin-top: 12px;
    margin-left: 75px;
}




.flex-under2{
    color: #647282;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%;
    margin-top: 12px;
    margin-left: 75px;
}

.flex-under1{
    display: flex;
    gap: 14px;
    align-items: center;
}


.flex-under2{
    display: flex;
    gap: 14px;
    align-items: center;
}


.slider-container {
    margin-top: 98px;
    height: 130px;
    overflow: hidden;
    white-space: nowrap;
    border: 2px solid #A2B3C6;
    display: flex;
    align-items: center;
    background-color: #fff;
}

.slider {
    display: inline-block;
    white-space: nowrap;
    animation: slide 15s linear infinite;
}

.text {
    display: inline-block;
    font-size: 48px;
    font-weight: bold;
    color: #333;
}

.star {
    color: #202B37;
    margin-left: 10px;
}

@keyframes slide {
    0% {
        transform: translateX(660px);  /* Starts just outside the right boundary */
    }
    100% {
        transform: translateX(-100%);  /* Scrolls fully past the left boundary */
    }
}


.kun-container{
    background-image: url('./img/kun.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 1190px;
}



.keka{
    color: #F0F2F4;
    font-size: 54px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 64.8px */
    letter-spacing: -1.62px;
    padding-top: 100px;
    margin-left: 264px;
}






.joto{
    color: #FFCD00;
    font-size: 54px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: -1.62px;
}


.moto{
    width: 1200px;
    height: 1px;
    background: #80A2C7;
    margin-left: 264px;
    margin-top: 64px;
}

.zero-one{
    margin-left: 264px;
    margin-top: 30px;
    color: #F0F2F4;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%; /* 26.4px */
    letter-spacing: 0.48px;
    text-transform: uppercase;;

}


.div-div{
    display: flex;
    align-items: center;
    gap: 241px;
}

.div-dvi-div-div{
    display: flex;
    align-items: center;
    gap: 56px;
    justify-content: center;
}


.icon-bi{
    padding-top: 30px;

}

.website-desing{
    color: #F0F2F4;
    font-size: 54px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 64.8px */
    letter-spacing: -1.62px;
    margin-top: 44px;
}


.open{
    color: #F0F2F4;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 38.4px */
    margin-top: 59px;
}



.open2{
    color: #F0F2F4;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 38.4px */
    margin-left: 150px;
    margin-top: 59px;
}




.open3{
    color: #F0F2F4;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 38.4px */
    margin-left: 100px;
    margin-top: 59px;
}


.open4{
    color: #F0F2F4;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 38.4px */
    margin-left: 10px;
    margin-top: 59px;
}



.save-me-a-my-phone{
    color:  #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 110%; /* 26.4px */
    letter-spacing: 0.96px;
    margin-left: 368px;
    margin-top: 87px;
}



.contact-us-now{
    color:  #FFCD00;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 110%;
    letter-spacing: 0.96px;
    text-decoration-line: underline;
}


.our-work-container{
    height: 1890px;
    background:  #FFF;
}



.flex-our-work{
    display: flex;
    align-items: center;
    gap: 452px;
}





.our-work1{
    margin-left: 255px;
    margin-top: 120px;
    color: #202B37;
    font-size: 54px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%; /* 59.4px */
    letter-spacing: -1.62px;
    text-transform: capitalize; 
}




.our-work2{
    color: #202B37;
    margin-top: 120px;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%; /* 32px */
}




.ppapa{
    display: flex;
    align-items: center;
    margin-left: 264px;
    margin-top: 83px;
    gap: 12px;

}

.img-text-som{
    display: flex;
    margin-left: 264px;
    margin-top: 24px;
    gap: 197px;
}





.ho-mera{
    color: #202B37;
    font-size: 54px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%; /* 59.4px */
}



.web-desing-bling{
    color: #202B37;
    margin-top: 12px;
    font-size: 23px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%; /* 25.3px */
    letter-spacing: 0.46px;
    text-transform: uppercase;
}


.lentop{
    margin-left: 264px;    
    margin-top: 52px;
}



.studios{
    margin-left: 264px;
    margin-top: 24px;
    color: #202B37;
    font-size: 54px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%; /* 59.4px */
}



.ma{
    margin-left: 264px;
    margin-top: 12px;
    color: #202B37;
    font-size: 23px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%; /* 25.3px */
    letter-spacing: 0.46px;
    text-transform: uppercase;
}





.ou-w{
    display: flex;
    gap: 624px;
}




.view-more{
    color: #202B37;
    margin-top: 41px;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%; /* 26.4px */
    text-transform: uppercase;
}



.silder{
    background-image: url('./img/how.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 937px;
}


.tow-part{
    display: flex;
}


.enmin{
    color: #F0F2F4;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 36.4px */
    letter-spacing: -0.78px;
    margin-top: 298px;
    margin-left: 50px;
}



.hhaha{
    margin-left: 239px;
}



.gril-img-png{
    margin-left: 239px;
    margin-top: 65px;
}





.mea{
    color: #FFCD00;
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    letter-spacing: -0.78px;
}




.hhaha{
    color: #F0F2F4;
    font-size: 54px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 64.8px */
    letter-spacing: -1.62px;
    text-transform: capitalize;
    margin-top: 88px;
}


.jejek{
    color: #FFCD00;
    font-size: 54px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: -1.62px;
    text-transform: capitalize;
}




.desh{
    margin-top: 69px;
    margin-left: 50px;
    display: flex;
    align-items: center;
    gap: 6px;
}

.sdsdsd{
    color: #FFCD00;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 110%; /* 22px */
    letter-spacing: -0.6px;
}

.mon1{
    color: #F0F2F4;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 110%; /* 22px */
    letter-spacing: -0.6px;
    margin-top: 112px;
    margin-left: 50px;
}



.mon2{
    color:  #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 110%; /* 17.6px */
    letter-spacing: -0.48px;
    margin-top: 8px;
    margin-left: 50px;
}


.flex-con{
    margin-left: 50px;
    margin-top: 73px;
    display: flex;
    gap: 10px   ;
}




.la{
    width: 50px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 80px;
    border: 1px solid #57608a;
    background-color: #1c242e;

}



#dsfdsfdsfs{
    color: #57608a;
}

.ja{
    width: 50px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 80px;
    border: 1px solid #ffce02;
    background-color: #1c242e;

}



#dsfdsfdsf{
    color: #ffce02;
}




.faq-item {
    margin: 20px 0;
    position: relative;
    /* border-bottom: 1px solid #ddd; */
    padding-bottom: 10px;
    margin-left: 264px;
}

.faq-item label {
    cursor: pointer;
    transition: color 0.3s;
    display: flex;
    align-items: center;
}

.faq-item input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    width: 16px;
    height: 16px;
    border: 2px solid #333;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    margin-right: 10px; /* Space between checkbox and text */
}

.faq-item input[type="checkbox"]:checked {
    background-color: #00f010;
}

.arrow {
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    transition: transform 0.3s ease;
}

.faq-content {
    display: none;
    margin-top: 10px;
    border: 1px solid #fff;
    padding: 10px;
    background-color: #fff;
}

.show {
    display: block;
}

.rotate {
    transform: translateY(-50%) rotate(90deg);
}


.sec{
    height: 700px;
}



.have{
    color: #202B37;
    text-align: center;
    font-size: 54px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 64.8px */
    letter-spacing: -1.62px;
    margin-top: 100px;
}

#arrow1{
    margin-right: 266px;
    width: 30px;
    height: 30px;
}

#arrow2{
    margin-right: 266px;
    width: 30px;
    height: 30px;
}

#arrow3{
    margin-right: 266px;
    width: 30px;
    height: 30px;
}

#arrow4{
    margin-right: 266px;
    width: 30px;
    height: 30px;
}

#arrow5{
    margin-right: 266px;
    width: 30px;
    height: 30px;
}

#arrow6{
    margin-right: 266px;
    width: 30px;
    height: 30px;
}



.hu-al{
    color: rgba(32, 43, 55, 0.80);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 38.4px */
    letter-spacing: 0.24px;
    margin-top: 20px;
}


.ban{
    color: #202B37;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 110%; /* 28.6px */
    letter-spacing: 0.26px;
}


.flex-sagora{
    display: flex;
    align-items: center;
}



.sdsdsdsdsdsdsdsdssss{
    margin-left: 13px;
    color: #202B37;
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
    line-height: 110%; /* 28.6px */
    letter-spacing: 0.26px;
    margin-top: 5px;
}


#arrow21{
    margin-left: 24%;
    width: 30px;
    height: 30px;
}



.contact-conatainer{
    height: 1209px;
    background: #eff5fc;
    
}






.have-a-project-ides{
    color: #202B37;
    font-size: 54px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 64.8px */
    letter-spacing: -1.62px;
    padding-top: 100px;
    margin-left: 264px;
}




.full-name{
    color: #202B37;
    margin-left: 264px;
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
    line-height: 110%; /* 28.6px */
    letter-spacing: 0.26px;
    margin-top: 64px;
}



.jame{
    margin-left: 264px;
    margin-top: 24px;
    color: rgba(32, 43, 55, 0.80);
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 28.8px */
    letter-spacing: 0.24px;
}





.name-hr{
    width: 1202px;
    height: 1px;
    background: #3E5267;
    margin-top: 24px;
    margin-left: 264px;
}



.flex-from{
    display: flex;
    margin-left: 264px;
    gap: 20px;
    margin-top: 64px;
    align-items: center;
}



.asa{
    color: #202B37;
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
    line-height: 110%; /* 28.6px */
    letter-spacing: 0.26px;

}




.jkjkdf{
    margin-top: 24px;
    color: rgba(32, 43, 55, 0.80);
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 28.8px */
    letter-spacing: 0.24px;
}




.name-sp{
    width: 600px;
    height: 1px;
    background: #3E5267;
    margin-top: 24px;
}




.kalyte{
    color: #202B37;
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
    line-height: 110%; /* 28.6px */
    letter-spacing: 0.26px;
}


.email{
    margin-top: 24px;
    color: rgba(32, 43, 55, 0.80);
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 28.8px */
    letter-spacing: 0.24px;
}


.email-email-com{
    width: 578px;
    height: 1px;
    background: #3E5267;
    margin-top: 24px;
}






.flex-from1{
    display: flex;
    align-items: center;
    margin-left: 264px;
    margin-top: 64px;
}



.tomar{
    color: #202B37;
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
    line-height: 110%; /* 28.6px */
    letter-spacing: 0.26px;
}



.email112{
    margin-top: 24px;
    color: rgba(32, 43, 55, 0.80);
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 28.8px */
    letter-spacing: 0.24px;
}




#asd{
    margin-left: 322px;
}







.email-email-com1{
    width: 600px;
    height: 1px;
    background: #3E5267;
    margin-top: 24px;
}



.kalyte{
    color: #202B37;
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
    line-height: 110%; /* 28.6px */
    letter-spacing: 0.26px;
    margin-left: 15px;
}




.email{
    margin-top: 24px;
    color: rgba(32, 43, 55, 0.80);
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 28.8px */
    letter-spacing: 0.24px;
    margin-left: 15px;
}



.email-email-com12{
    width: 600px;
    height: 1px;
    background: #3E5267;
    margin-top: 24px;
    margin-left: 12px;
}





.project{
    color: #202B37;
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
    line-height: 110%; /* 28.6px */
    letter-spacing: 0.26px;
    margin-top: 64px;
    margin-left: 264px;
}




.tell{
    margin-top: 34px;
    margin-left: 264px;
    color: rgba(32, 43, 55, 0.80);
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 28.8px */
    letter-spacing: 0.24px;
}




.idea{
    width: 1202px;
    height: 1px;
    background: #3E5267;
    margin-left: 264px;
    margin-top: 34px;
}


.button22{
    display: inline-flex;
    padding: 18px 24px;
    justify-content: center;
    align-items: center;
    gap: 7px;
    border-radius: 4px;
    border: 2px solid #647282;
    background: #eff5fc;
    color: #202B37;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.51px;
    margin-left: 264px;
    margin-top: 64px;
}

/* footer section */


footer{
    height: 516px;
    background: #1B242E;
}






.footer-section{
    display: flex;
}



.footer{
    margin-left: 264px;
    margin-top: 115px;
}



.flex-footer{
    display: flex;
    margin-top: 96px;
    gap: 8px;
}


.flex-footer-icon{
    display:flex;
    align-items: center;
    gap: 3px;
}




.footer-under-line{
    display: flex;
    align-items: center;
    margin-top: 61px;
    gap: 40px;
}




.copn{
    color: #F0F2F4;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 110%; /* 24.2px */
    letter-spacing: 0.22px;
    text-decoration-line: underline;
}





.hello-dewpix{
    margin-top: 100px;
    margin-left: 400px;
    color: #F0F2F4;
    font-size: 54px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%; /* 59.4px */
    letter-spacing: -1.62px;
}





.button-dewpis{
    margin-left: 550px;  
    display: flex;
    align-items: center;
    margin-top: 160px;
    gap: 14px;
}



.more{
    display: inline-flex;
    padding: 16px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 40px;
    border: 1px solid #F0F2F4;
    color: #F0F2F4;
    font-size: 21px;
    font-style: normal;
    font-weight: 500;
    line-height: 110%; /* 23.1px */
    letter-spacing: 0.21px; 
    background: #1c242e;
}





.i-am-pgjfsdop{
    width: 1202px;
    height: 1px;
    margin-left: 258px;
    margin-top: 79px;

}


.copy-right{
    color: #F0F2F4;
    text-align: center;
    margin-top: 24px;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 110%; /* 22px */
    letter-spacing: 0.2px;
}








/* hover */

a:hover{
    text-decoration: none;
    color: #FFEA23;
    font-size: 17px;
    font-weight: 400;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.51px;
}



.button23:hover{
    margin-top: -10px;
    color: #000;
    width: 143px;
    height: 46px;
    display: inline-flex;
    padding: 12px 15px;
    gap: 10px;
    border-radius: 4px;
    border: 2px solid #1A222A;
    background: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: left;
    letter-spacing: -0.51px;
}


.img17:hover{
    width: 78px;
    height: 78px;
    transform: rotate(-11.013deg);
    flex-shrink: 0;
}




.i-am-spanas:hover{
    color: #647282;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%; /* 28.8px */
}





.very-around:hover{
    color: #202B37;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%;
    
}




.la:hover{
    width: 50px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 80px;
    border: 1px solid #ffce02;
    background-color: #1c242e;

}



#dsfdsfdsfs:hover{
    color: #FFC72C;
}




.button22:hover{
    display: inline-flex;
    padding: 18px 24px;
    justify-content: center;
    align-items: center;
    gap: 7px;
    border-radius: 4px;
    border: none;
    background: #000;
    color: #fff;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.51px;
    margin-left: 264px;
    margin-top: 64px;
}
